@{
    ViewBag.Title = "RevisionChapters";
}

<h2>RevisionChapters</h2>
<div class="main-report-wrapper container">

    @foreach (var chapter in ViewBag.chapters)
    {
        if (chapter.Title != "(Untitled)")
        {
            <ul class="sub-report-wrapper">
                <li><a href="@chapter.Title">@chapter.Title.Split(':')[1]</a></li>
                <ul>
                    @foreach (var subchapter in chapter.SubChapters)
                    {
                        if (subchapter.Title != "(Untitled)")
                        {
                            <li><a href="@subchapter.Title">@subchapter.Title.Split(' ')[1]</a></li>
                        }
                    }
                </ul>
            </ul>
    }

}   </div>
    @section scripts{
        <script>
            $(document).ready(function (e) {
                $("a").on("click", function (e) {
                    e.preventDefault();
                    window.location = "/DataImport/getContent/?chaptername=" + $(this).attr("href")
                })
            });
        </script>
    }
