@{
    ViewBag.Title = "VisualizerHome";
}
<div class="container main-report-wrapper" style="background-color:white;padding: 67px;">



        @{var i = 0;}
        @foreach (var list in ViewBag.stats)
        {
            <div class="row grid-divider">
                <div class="sub-report-wrapper" style="padding: 20px;">
                    <div class="col-padding">
                        <h3> @list.Title</h3>
                        <p>@list.Description</p>
                        <button id="@list.id" class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i>Show</button>
                    </div>
                </div>
            </div>

        }


</div>
@section scripts{
    <script>
        $(document).ready(function (e) {
            $(".btn").on("click", function (e) {
                console.log($(this).attr("id"));
                window.location = "/DataImport/Visualize/" + $(this).attr("id")
            })
        });
    </script>

}
