@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<h2>About</h2>
<br />
<div class="col-lg-12 no-pad text-justify">
    <p class="lead">


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a dapibus turpis, in vulputate augue. Duis ante urna, dictum ut massa quis, ultricies tincidunt sapien. Curabitur eros velit, maximus ut imperdiet sed, tincidunt in lectus. Sed quis lacinia ante. Phasellus ac mi ut tortor mollis pharetra sed sed massa. Sed porttitor ac orci at mollis. Pellentesque rhoncus nisl eu varius convallis. In quis bibendum sem. Quisque laoreet dolor urna, quis consequat ligula rhoncus eu.
        <br /><br />

        Donec consequat non nulla vel semper. Donec eu rutrum eros, ac rhoncus leo. Fusce rutrum dui vel est dignissim viverra eget ut ex. Donec convallis justo in nisi efficitur, sit amet volutpat tellus commodo. Vivamus efficitur est nec fermentum hendrerit. Duis rutrum ex sit amet nulla pulvinar vulputate. Morbi vel turpis non nunc hendrerit imperdiet dignissim iaculis lectus. Phasellus accumsan eros et neque placerat, at sollicitudin tortor imperdiet. Mauris ultrices urna erat, molestie placerat massa luctus non. Proin velit leo, congue sed augue quis, ullamcorper pharetra nisi. Mauris velit lectus, rhoncus non lorem hendrerit, sollicitudin iaculis nibh. Nullam gravida id justo pharetra fringilla. Praesent at lacus dapibus, vehicula sem in, luctus mauris.
        <br /><br />
        Aliquam non ullamcorper est, ac consequat lorem. Aliquam in nisi sed tortor rutrum eleifend at in velit. Proin ac ullamcorper lacus. Aenean hendrerit, leo non scelerisque viverra, orci massa laoreet risus, fringilla commodo est risus in sapien. Aenean consequat id quam eget tincidunt. Phasellus efficitur orci at eros scelerisque varius. Nullam molestie massa quis viverra egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur sodales id felis in accumsan.
        <br /><br />

    </p>

    <div class="row">
        <h4> Our Sponsors</h4>
        <div class="partner-section">
            <img src="~/Content/img/1.jpg" />
            <img src="~/Content/img/2.jpg" />
            <img src="~/Content/img/3.jpg" />
            <img src="~/Content/img/4.jpg" />
        </div>
    </div>
</div>